.App {
  /* text-align: center; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mafiaHeaderTxt {
  font-size: 3rem;
}

.introText, .narratorTxt, .componentTxt, .choicesTxt > *{
  font-size: 1.4rem;
}
.App-link {
  color: #61dafb;
}

.choicesTxt > li {
}
.choicesTxt > *:hover {
  padding: 1%;
  border: 10px black solid;
  transition: border 1s;
}